.elementor-kit-29{--e-global-color-primary:#FFFFFF;--e-global-color-secondary:#000000;--e-global-color-text:#FFFFFF;--e-global-color-accent:#F68E57;--e-global-typography-primary-font-family:"Tank";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Tank";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Tank";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Tank";--e-global-typography-accent-font-weight:700;--e-global-typography-a457d77-text-transform:uppercase;background-color:#181818;}.elementor-kit-29 button,.elementor-kit-29 input[type="button"],.elementor-kit-29 input[type="submit"],.elementor-kit-29 .elementor-button{background-color:#F68E57;font-weight:700;color:#272D2D;border-radius:8px 8px 8px 8px;}.elementor-kit-29 button:hover,.elementor-kit-29 button:focus,.elementor-kit-29 input[type="button"]:hover,.elementor-kit-29 input[type="button"]:focus,.elementor-kit-29 input[type="submit"]:hover,.elementor-kit-29 input[type="submit"]:focus,.elementor-kit-29 .elementor-button:hover,.elementor-kit-29 .elementor-button:focus{background-color:#93589D;color:var( --e-global-color-primary );}.elementor-kit-29 h1{font-weight:700;}.elementor-kit-29 h2{font-weight:700;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){--kit-widget-spacing:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-29 h2{font-size:22px;line-height:25px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */p{
    margin-bottom: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-medium-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-bold-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-light-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
