.elementor-widget-container .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-container .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-container .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1880 .elementor-element.elementor-element-53f8f2a{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-image .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-image .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-image .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-1880 .elementor-element.elementor-element-6765e9d img{width:100vw;height:526px;object-fit:cover;object-position:center center;}.elementor-1880 .elementor-element.elementor-element-60f510a{--display:flex;--position:absolute;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;top:0px;}body:not(.rtl) .elementor-1880 .elementor-element.elementor-element-60f510a{left:0px;}body.rtl .elementor-1880 .elementor-element.elementor-element-60f510a{right:0px;}.elementor-widget-woocommerce-breadcrumb .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-woocommerce-breadcrumb .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-woocommerce-breadcrumb .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1880 .elementor-element.elementor-element-f5c281d{padding:24px 0px 16px 0px;}.elementor-1880 .elementor-element.elementor-element-f5c281d .woocommerce-breadcrumb{color:#FFFFFF;font-family:"Tank", Sans-serif;font-size:12px;font-weight:500;line-height:15px;}.elementor-1880 .elementor-element.elementor-element-f5c281d .woocommerce-breadcrumb > a{color:#FFFFFF;}.elementor-1880 .elementor-element.elementor-element-86c2a30{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:flex-start;--margin-top:34px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-heading .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-heading .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-heading .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-1880 .elementor-element.elementor-element-8f1078d{text-align:left;}.elementor-1880 .elementor-element.elementor-element-8f1078d .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:66px;font-weight:500;line-height:83px;}.elementor-1880 .elementor-element.elementor-element-6089513{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;border-style:solid;--border-style:solid;border-width:12px 0px 0px 0px;--border-top-width:12px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;border-color:#93589D;--border-color:#93589D;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-eb73f5e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:170px 170px;--row-gap:170px;--column-gap:170px;--padding-top:80px;--padding-bottom:88px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-eb73f5e.e-con{--align-self:center;}.elementor-1880 .elementor-element.elementor-element-8304b97{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-559924a{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 42px) 0px;}.elementor-1880 .elementor-element.elementor-element-559924a .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:40px;font-weight:500;line-height:50px;}.elementor-widget-text-editor .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-text-editor .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-text-editor .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-1880 .elementor-element.elementor-element-5b2ed35{font-family:"Tank", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-38a7f39{--display:flex;--padding-top:10px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-nested-carousel .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-nested-carousel .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-nested-carousel .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1880 .elementor-element.elementor-element-3fd5ae5{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-47ad0cd{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-480ee10{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-480ee10:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-480ee10 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/bamper_pered.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-5356b6f .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-b999360{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-61ef118{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-9f93515{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-9f93515:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-9f93515 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/kapot.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-fa4a593 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-e2ffee7{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-5d2da06{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-b954d74{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-b954d74:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-b954d74 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/bamper_zad-1.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-99037f3 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-b07628e{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-0a7df20{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-c77840b{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-c77840b:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-c77840b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/chehol.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-45acf46 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-3177f7e{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-5c4077a{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-8167060{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-8167060:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-8167060 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/nakladka.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-50223cd{text-align:center;}.elementor-1880 .elementor-element.elementor-element-50223cd .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-f91e291{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-e34221b{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-577de07{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-577de07:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-577de07 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/nakladka_zerkala.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-51dc660 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-9557b76{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-bcd0a85{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-fa21ac0{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-fa21ac0:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-fa21ac0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/rasshiriteli.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-e18e778 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-39780a1{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-9162cff{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-6cd298c{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-6cd298c:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-6cd298c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/reshetka.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-daf0c20 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-c6c7783{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-d7fe360{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-247579c{--display:flex;--min-height:244px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-247579c:not(.elementor-motion-effects-element-type-background), .elementor-1880 .elementor-element.elementor-element-247579c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/07/porogi.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-1880 .elementor-element.elementor-element-4c0039e .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:24px;font-weight:700;text-transform:uppercase;line-height:24px;color:#FFFFFFCC;}.elementor-1880 .elementor-element.elementor-element-089796c{--e-n-carousel-swiper-slides-to-display:1;--e-n-carousel-swiper-slides-gap:10px;--e-n-carousel-slide-height:auto;--e-n-carousel-slide-container-height:100%;--e-n-carousel-arrow-prev-left-position:0px;--e-n-carousel-arrow-prev-top-align:50%;--e-n-carousel-arrow-prev-translate-y:-50%;--e-n-carousel-arrow-prev-top-position:0px;--e-n-carousel-arrow-next-right-align:0%;--e-n-carousel-arrow-next-translate-x:0%;--e-n-carousel-arrow-next-right-position:0px;--e-n-carousel-arrow-next-top-align:50%;--e-n-carousel-arrow-next-translate-y:-50%;--e-n-carousel-arrow-next-top-position:0px;}.elementor-1880 .elementor-element.elementor-element-fdf4d98{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:176px 176px;--row-gap:176px;--column-gap:176px;--padding-top:0px;--padding-bottom:20px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-0016f68{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-e30f4f6{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-3ec5677{font-family:"Tank", Sans-serif;font-size:40px;font-weight:500;text-transform:uppercase;line-height:50px;}.elementor-1880 .elementor-element.elementor-element-87d6c7f{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-gallery .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-gallery .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-gallery .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-gallery .elementor-gallery-item__title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-gallery .elementor-gallery-item__description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-gallery{--galleries-title-color-normal:var( --e-global-color-primary );--galleries-title-color-hover:var( --e-global-color-secondary );--galleries-pointer-bg-color-hover:var( --e-global-color-accent );--gallery-title-color-active:var( --e-global-color-secondary );--galleries-pointer-bg-color-active:var( --e-global-color-accent );}.elementor-widget-gallery .elementor-gallery-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-1880 .elementor-element.elementor-element-f24e7cf .e-gallery-item:hover .elementor-gallery-item__overlay, .elementor-1880 .elementor-element.elementor-element-f24e7cf .e-gallery-item:focus .elementor-gallery-item__overlay{background-color:rgba(0,0,0,0.5);}.elementor-1880 .elementor-element.elementor-element-f24e7cf{--image-border-radius:4px;--image-transition-duration:800ms;--overlay-transition-duration:800ms;--content-text-align:center;--content-padding:20px;--content-transition-duration:800ms;--content-transition-delay:800ms;}.elementor-1880 .elementor-element.elementor-element-856dc6e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:flex-start;--margin-top:112px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-525d72b{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-5c97128{font-family:"Tank", Sans-serif;font-size:40px;font-weight:500;text-transform:uppercase;line-height:50px;}.elementor-1880 .elementor-element.elementor-element-44aead6{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-a197f34{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:flex-start;--padding-top:64px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-314c009{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-a01e3c3{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:flex-start;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-d81f19b{font-family:"Tank", Sans-serif;font-size:16px;font-weight:500;line-height:24px;}.elementor-1880 .elementor-element.elementor-element-d81f19b p{margin-block-end:0px;}.elementor-1880 .elementor-element.elementor-element-4ef0f8d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:190px;--margin-bottom:36px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-541e8ae{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:48px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-2a7d7a2{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 48px) 0px;}.elementor-1880 .elementor-element.elementor-element-2a7d7a2 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:40px;font-weight:500;text-transform:uppercase;}.elementor-1880 .elementor-element.elementor-element-eb41d04{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:8px 8px;--row-gap:8px;--column-gap:8px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-14d6511 .e-gallery-item:hover .elementor-gallery-item__overlay, .elementor-1880 .elementor-element.elementor-element-14d6511 .e-gallery-item:focus .elementor-gallery-item__overlay{background-color:rgba(0,0,0,0.5);}.elementor-1880 .elementor-element.elementor-element-14d6511{--image-border-radius:4px;--image-transition-duration:800ms;--overlay-transition-duration:800ms;--content-text-align:center;--content-padding:20px;--content-transition-duration:800ms;--content-transition-delay:800ms;}:root{--page-title-display:none;}@media(max-width:1440px){.elementor-1880 .elementor-element.elementor-element-60f510a{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-6089513{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-fdf4d98{--padding-top:0px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-87d6c7f{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-856dc6e{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-a197f34{--padding-top:64px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-4ef0f8d{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}}@media(max-width:1200px){.elementor-1880 .elementor-element.elementor-element-fdf4d98{--gap:60px 60px;--row-gap:60px;--column-gap:60px;}}@media(max-width:1024px){.elementor-1880 .elementor-element.elementor-element-6765e9d img{height:300px;}.elementor-1880 .elementor-element.elementor-element-60f510a{--padding-top:10px;--padding-bottom:0px;--padding-left:10px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-8f1078d{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;padding:0px 0px 0px 0px;}.elementor-1880 .elementor-element.elementor-element-eb73f5e{--gap:20px 20px;--row-gap:20px;--column-gap:20px;--padding-top:64px;--padding-bottom:64px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-089796c{--e-n-carousel-swiper-slides-to-display:1;}.elementor-1880 .elementor-element.elementor-element-3ec5677{font-size:30px;}.elementor-1880 .elementor-element.elementor-element-5c97128{font-size:30px;}.elementor-1880 .elementor-element.elementor-element-a197f34{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-1880 .elementor-element.elementor-element-2987c38 img{width:100%;height:400px;object-fit:cover;}.elementor-1880 .elementor-element.elementor-element-eb41d04{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:8px 8px;--row-gap:8px;--column-gap:8px;--flex-wrap:wrap;}}@media(max-width:767px){.elementor-1880 .elementor-element.elementor-element-86c2a30{--margin-top:34px;--margin-bottom:50px;--margin-left:0px;--margin-right:0px;}.elementor-1880 .elementor-element.elementor-element-8f1078d .elementor-heading-title{font-size:30px;line-height:38px;}.elementor-1880 .elementor-element.elementor-element-6089513{--padding-top:00px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1880 .elementor-element.elementor-element-eb73f5e{--padding-top:64px;--padding-bottom:80px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-559924a .elementor-heading-title{font-size:25px;}.elementor-1880 .elementor-element.elementor-element-089796c{--e-n-carousel-swiper-slides-to-display:1;--e-n-carousel-arrow-prev-left-align:0%;--e-n-carousel-arrow-prev-translate-x:0px;--e-n-carousel-arrow-prev-top-align:50%;--e-n-carousel-arrow-prev-translate-y:-50%;--e-n-carousel-arrow-next-right-align:0%;--e-n-carousel-arrow-next-translate-x:0%;--e-n-carousel-arrow-next-top-align:50%;--e-n-carousel-arrow-next-translate-y:-50%;}.elementor-1880 .elementor-element.elementor-element-fdf4d98{--gap:24px 24px;--row-gap:24px;--column-gap:24px;--padding-top:0px;--padding-bottom:24px;--padding-left:10px;--padding-right:10px;}.elementor-1880 .elementor-element.elementor-element-3ec5677{font-size:24px;line-height:32px;}.elementor-1880 .elementor-element.elementor-element-856dc6e{--gap:24px 24px;--row-gap:24px;--column-gap:24px;--margin-top:24px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-1880 .elementor-element.elementor-element-5c97128{font-size:24px;line-height:32px;}.elementor-1880 .elementor-element.elementor-element-a197f34{--flex-direction:column-reverse;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-1880 .elementor-element.elementor-element-4ef0f8d{--margin-top:80px;--margin-bottom:36px;--margin-left:0px;--margin-right:0px;}.elementor-1880 .elementor-element.elementor-element-2a7d7a2 .elementor-heading-title{font-size:25px;}.elementor-1880 .elementor-element.elementor-element-eb41d04{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}}@media(min-width:768px){.elementor-1880 .elementor-element.elementor-element-60f510a{--content-width:1200px;}.elementor-1880 .elementor-element.elementor-element-eb73f5e{--content-width:1200px;}.elementor-1880 .elementor-element.elementor-element-480ee10{--width:440px;}.elementor-1880 .elementor-element.elementor-element-9f93515{--width:440px;}.elementor-1880 .elementor-element.elementor-element-b954d74{--width:440px;}.elementor-1880 .elementor-element.elementor-element-c77840b{--width:440px;}.elementor-1880 .elementor-element.elementor-element-8167060{--width:440px;}.elementor-1880 .elementor-element.elementor-element-577de07{--width:440px;}.elementor-1880 .elementor-element.elementor-element-fa21ac0{--width:440px;}.elementor-1880 .elementor-element.elementor-element-6cd298c{--width:440px;}.elementor-1880 .elementor-element.elementor-element-247579c{--width:440px;}.elementor-1880 .elementor-element.elementor-element-fdf4d98{--content-width:1200px;}.elementor-1880 .elementor-element.elementor-element-87d6c7f{--content-width:1200px;}.elementor-1880 .elementor-element.elementor-element-856dc6e{--content-width:1200px;}.elementor-1880 .elementor-element.elementor-element-a197f34{--content-width:1200px;}.elementor-1880 .elementor-element.elementor-element-4ef0f8d{--content-width:1200px;}}
/* Start custom CSS for woocommerce-breadcrumb, class: .elementor-element-f5c281d */.elementor-1880 .elementor-element.elementor-element-f5c281d{
    opacity: 0.8;
}
@media (max-width: 767px){
    .elementor-1880 .elementor-element.elementor-element-f5c281d{
        position: absolute;
        top: 0;
    }
}/* End custom CSS */


/* Start custom CSS for container, class: .elementor-element-86c2a30 */.elementor-1880 .elementor-element.elementor-element-86c2a30 {
    max-width: 800px;
}/* End custom CSS */




/* Start custom CSS for text-editor, class: .elementor-element-5b2ed35 */.elementor-1880 .elementor-element.elementor-element-5b2ed35{
    max-width: 440px!important;
}/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-8304b97 */.elementor-1880 .elementor-element.elementor-element-8304b97 {
    max-width: 438px!important;
}/* End custom CSS */









































































































































































































































































































































































/* Start custom CSS for nested-carousel, class: .elementor-element-089796c */.elementor-1880 .elementor-element.elementor-element-089796c .elementor-swiper-button-prev path {
  fill: hsla(0,0%,93%,.9) !important;
}/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-38a7f39 */.elementor-1880 .elementor-element.elementor-element-38a7f39{
    max-width: 536px!important
}/* End custom CSS */






/* Start custom CSS for container, class: .elementor-element-e30f4f6 */.elementor-1880 .elementor-element.elementor-element-e30f4f6{
    max-width: 511px!important
}/* End custom CSS */


/* Start custom CSS for gallery, class: .elementor-element-f24e7cf */.elementor-1880 .elementor-element.elementor-element-f24e7cf{
    max-width: 1124px!important
}
@media (max-width: 767px){
    .elementor-1880 .elementor-element.elementor-element-f24e7cf .elementor-gallery__container {
        display: flex;
        gap: 8px;
        padding: 0;
    }
    .elementor-1880 .elementor-element.elementor-element-f24e7cf .elementor-gallery__container a{
        max-width: calc(50% - 8px)!important;
        height: 30.5vw !important;
        width: 100% !important;
        position: relative!important;
        width: 100%!important;
        top: auto!important;
        left: auto!important;
    }
}/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-87d6c7f */.elementor-1880 .elementor-element.elementor-element-87d6c7f .e-gallery-item:hover:before{
    content: "";
    position: absolute;
    display: block;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url(/wp-content/uploads/2025/10/frame-69.svg);
    background-position: center;
    background-repeat: no-repeat;
}/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-5c97128 */.elementor-1880 .elementor-element.elementor-element-5c97128{
    max-width: 516px!important
}/* End custom CSS */











/* Start custom CSS for gallery, class: .elementor-element-14d6511 */.elementor-1880 .elementor-element.elementor-element-14d6511 {
    grid-template-columns: 296px 296px; 
    grid-template-rows: 208px 208px; 
}
.elementor-1880 .elementor-element.elementor-element-14d6511 .e-gallery-item:hover:before{
    content: "";
    position: absolute;
    display: block;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url(../../2025/10/frame-69.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 8px;
grid-row-gap: 8px;
padding-bottom: 0!important;
}

.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a{
    position: relative;
    width: auto!important;
    top: auto!important;
    left: auto!important;
    height: 11.05vw!important;
    max-height: 212px;
}

.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(1) { 
    grid-area: 1 / 1 / 3 / 3; 
    height: 22.5vw !important;
    max-height: 432px;
}
.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(1) .e-gallery-image{
    border-radius: 12px;
}
.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(2)  { grid-area: 1 / 3 / 2 / 4; }
.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(4) { grid-area: 2 / 4 / 3 / 5; }
.elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(5) { grid-area: 2 / 3 / 3 / 4; } 

@media (max-width: 1439px){
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a{
        height: 30.05vw!important;
    }
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(1) { 
        height: 50.5vw !important;
    }
}
@media (max-width: 1023px){
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a{
        height: 30.05vw!important;
    }
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(1) { 
        height: 60.5vw !important;
    }
}
@media (max-width: 767px){
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container {
        display: flex;
    }
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a{
        max-width: calc(50% - 8px)!important;
        height: 30.5vw !important;
        width: 100% !important;
    }
    .elementor-1880 .elementor-element.elementor-element-14d6511 .elementor-gallery__container a:nth-child(1) { 
        height: 30.5vw !important;
        width: 100% !important;
        border-radius: 8px;
    }
}/* End custom CSS */




/* Start Custom Fonts CSS */@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-medium-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-bold-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-light-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
