.elementor-widget-container .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-container .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-container .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1858 .elementor-element.elementor-element-91d5142{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-woocommerce-breadcrumb .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-woocommerce-breadcrumb .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-woocommerce-breadcrumb .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1858 .elementor-element.elementor-element-c406d6c{padding:24px 0px 56px 0px;}.elementor-1858 .elementor-element.elementor-element-c406d6c .woocommerce-breadcrumb{color:#FFFFFF;font-family:"Tank", Sans-serif;font-size:12px;font-weight:500;line-height:15px;}.elementor-1858 .elementor-element.elementor-element-c406d6c .woocommerce-breadcrumb > a{color:#FFFFFF;}.elementor-1858 .elementor-element.elementor-element-7a1c758{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-42060f1{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 16px;--row-gap:0px;--column-gap:16px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-6809b79{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-heading .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-heading .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-heading .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-1858 .elementor-element.elementor-element-c0e9613 .elementor-heading-title{font-family:"Tank", Sans-serif;font-size:32px;font-weight:500;text-transform:uppercase;line-height:40px;}.elementor-widget-text-editor .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-text-editor .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-text-editor .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-1858 .elementor-element.elementor-element-5131ae1{margin:24px 0px calc(var(--kit-widget-spacing, 0px) + 056px) 0px;padding:0px 0px 0px 0px;font-family:"Tank", Sans-serif;font-size:16px;font-weight:400;line-height:24px;color:#FFFFFFCC;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-button .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-button .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-button .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1858 .elementor-element.elementor-element-c0f6646 .elementor-button{background-color:#F68E57;font-family:"Tank", Sans-serif;font-size:14px;font-weight:500;text-transform:uppercase;line-height:18px;fill:#272D2D;color:#272D2D;border-radius:8px 8px 8px 8px;padding:10px 10px 10px 10px;}.elementor-1858 .elementor-element.elementor-element-c0f6646 .elementor-button:hover, .elementor-1858 .elementor-element.elementor-element-c0f6646 .elementor-button:focus{background-color:#93589D;color:#272D2D;}.elementor-1858 .elementor-element.elementor-element-c0f6646{width:100%;max-width:100%;}.elementor-1858 .elementor-element.elementor-element-c0f6646 .elementor-button:hover svg, .elementor-1858 .elementor-element.elementor-element-c0f6646 .elementor-button:focus svg{fill:#272D2D;}.elementor-1858 .elementor-element.elementor-element-408e2ac{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--border-radius:8px 8px 8px 8px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-408e2ac:not(.elementor-motion-effects-element-type-background), .elementor-1858 .elementor-element.elementor-element-408e2ac > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://tank-avilon.ru/wp-content/uploads/2025/10/5b69e8c234fa2d37520972b781797f684ee1215b-1.png");}.elementor-1858 .elementor-element.elementor-element-64b66f4{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:100px;--margin-bottom:100px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-dbf2998{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-a10b54e{text-align:center;}.elementor-1858 .elementor-element.elementor-element-a10b54e .elementor-heading-title{font-family:"tank", Sans-serif;font-weight:400;}.elementor-widget-nested-tabs.elementor-widget-n-tabs > .e-n-tabs[data-touch-mode='false'] > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:hover{background:var( --e-global-color-accent );}.elementor-widget-nested-tabs.elementor-widget-n-tabs > .e-n-tabs > .e-n-tabs-heading > .e-n-tab-title[aria-selected="true"], .elementor-widget-nested-tabs.elementor-widget-n-tabs > .e-n-tabs[data-touch-mode='true'] > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:hover{background:var( --e-global-color-accent );}.elementor-widget-nested-tabs .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-nested-tabs .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-nested-tabs .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-nested-tabs.elementor-widget-n-tabs > .e-n-tabs > .e-n-tabs-heading > :is( .e-n-tab-title > .e-n-tab-title-text, .e-n-tab-title ){font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1858 .elementor-element.elementor-element-191e7e4{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-html .pafe-woocommerce-sales-funnels-add-to-cart-message--success{color:var( --e-global-color-primary );}.elementor-widget-html .pafe-woocommerce-sales-funnels-add-to-cart-message--out-of-stock{color:var( --e-global-color-primary );}.elementor-widget-html .pafe-woocommerce-sales-funnels-add-to-cart-message{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1858 .elementor-element.elementor-element-ec05433{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-aafc539{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-b8b207f{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-c39e779{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-9aadb8b{--n-tabs-direction:column;--n-tabs-heading-direction:row;--n-tabs-heading-width:initial;--n-tabs-title-flex-basis:content;--n-tabs-title-flex-shrink:0;--n-tabs-heading-wrap:wrap;--n-tabs-heading-overflow-x:initial;--n-tabs-title-white-space:initial;padding:0px 0px 0px 0px;--n-tabs-title-justify-content:center;--n-tabs-title-align-items:center;--n-tabs-title-text-align:center;--n-tabs-title-gap:0px;--n-tabs-gap:32px;--n-tabs-title-padding-top:0px;--n-tabs-title-padding-right:0px;--n-tabs-title-padding-bottom:20px;--n-tabs-title-padding-left:0px;--n-tabs-title-color:var( --e-global-color-primary );--n-tabs-title-direction:column;--n-tabs-icon-order:initial;--n-tabs-title-justify-content-toggle:center;--n-tabs-title-align-items-toggle:initial;--n-tabs-icon-size:250px;--n-tabs-icon-color-active:#FFFFFF00;}.elementor-1858 .elementor-element.elementor-element-9aadb8b > .e-n-tabs > .e-n-tabs-heading > .e-n-tab-title[aria-selected='false']:not( :hover ){background:#02010100;}.elementor-1858 .elementor-element.elementor-element-9aadb8b.elementor-widget-n-tabs > .e-n-tabs[data-touch-mode='false'] > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:hover{background:#F68E5700;border-style:solid;border-width:0px 0px 5px 0px;border-color:var( --e-global-color-accent );}.elementor-1858 .elementor-element.elementor-element-9aadb8b.elementor-widget-n-tabs > .e-n-tabs > .e-n-tabs-heading > .e-n-tab-title[aria-selected="true"], .elementor-1858 .elementor-element.elementor-element-9aadb8b.elementor-widget-n-tabs > .e-n-tabs[data-touch-mode='true'] > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:hover{background:#FF954900;border-style:solid;border-width:0px 0px 5px 0px;border-color:var( --e-global-color-accent );}.elementor-1858 .elementor-element.elementor-element-9aadb8b.elementor-widget-n-tabs > .e-n-tabs > .e-n-tabs-heading > .e-n-tab-title[aria-selected="false"]:not( :hover ){border-style:solid;border-width:0px 0px 5px 0px;border-color:#C4C4C4;}.elementor-1858 .elementor-element.elementor-element-9aadb8b.elementor-widget-n-tabs > .e-n-tabs > .e-n-tabs-heading > :is( .e-n-tab-title > .e-n-tab-title-text, .e-n-tab-title ){font-family:"Tank", Sans-serif;font-weight:700;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-1858 .elementor-element.elementor-element-91d5142{--content-width:1200px;}.elementor-1858 .elementor-element.elementor-element-42060f1{--content-width:1048px;}.elementor-1858 .elementor-element.elementor-element-dbf2998{--content-width:1600px;}}@media(max-width:1440px){.elementor-1858 .elementor-element.elementor-element-91d5142{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1858 .elementor-element.elementor-element-64b66f4{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}}@media(max-width:1200px){.elementor-1858 .elementor-element.elementor-element-7a1c758{--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}}@media(max-width:1024px){.elementor-1858 .elementor-element.elementor-element-42060f1{--flex-direction:column-reverse;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:10px;--padding-right:10px;}.elementor-1858 .elementor-element.elementor-element-408e2ac{--min-height:300px;}.elementor-1858 .elementor-element.elementor-element-408e2ac:not(.elementor-motion-effects-element-type-background), .elementor-1858 .elementor-element.elementor-element-408e2ac > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-size:cover;}}@media(max-width:767px){.elementor-1858 .elementor-element.elementor-element-c406d6c{padding:24px 0px 32px 0px;}.elementor-1858 .elementor-element.elementor-element-7a1c758{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-1858 .elementor-element.elementor-element-42060f1{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1858 .elementor-element.elementor-element-c0e9613{margin:32px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-1858 .elementor-element.elementor-element-c0e9613 .elementor-heading-title{font-size:24px;}.elementor-1858 .elementor-element.elementor-element-5131ae1{margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;}.elementor-1858 .elementor-element.elementor-element-9aadb8b{--n-tabs-direction:column;--n-tabs-heading-direction:row;--n-tabs-heading-width:initial;--n-tabs-title-flex-basis:content;--n-tabs-title-flex-shrink:0;}}/* Start custom CSS for woocommerce-breadcrumb, class: .elementor-element-c406d6c */.elementor-1858 .elementor-element.elementor-element-c406d6c{
    opacity: 0.8;
}/* End custom CSS */



/* Start custom CSS for text-editor, class: .elementor-element-5131ae1 */.elementor-1858 .elementor-element.elementor-element-5131ae1{
    max-width: 440px!important;
}
@media (max-width: 767px){
    .elementor-1858 .elementor-element.elementor-element-5131ae1 div.line-block{
        display: block;
        height: 12px;
    }
    .elementor-1858 .elementor-element.elementor-element-5131ae1 br{
        display: none;
    }
}/* End custom CSS */

/* Start custom CSS for button, class: .elementor-element-c0f6646 */.elementor-1858 .elementor-element.elementor-element-c0f6646{
    max-width: 288px!important;
}
@media (max-width: 767px){
    .elementor-1858 .elementor-element.elementor-element-c0f6646{
        max-width: 100%!important;
    }
}/* End custom CSS */






/* Start custom CSS for html, class: .elementor-element-6c8aefd */.elementor-1858 .elementor-element.elementor-element-6c8aefd {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-8e55601 */.elementor-1858 .elementor-element.elementor-element-8e55601 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-20b3da0 */.elementor-1858 .elementor-element.elementor-element-20b3da0 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-0c72044 */.elementor-1858 .elementor-element.elementor-element-0c72044 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-1e2ead9 */.elementor-1858 .elementor-element.elementor-element-1e2ead9 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-6c8aefd */.elementor-1858 .elementor-element.elementor-element-6c8aefd {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-8e55601 */.elementor-1858 .elementor-element.elementor-element-8e55601 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-20b3da0 */.elementor-1858 .elementor-element.elementor-element-20b3da0 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-0c72044 */.elementor-1858 .elementor-element.elementor-element-0c72044 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-1e2ead9 */.elementor-1858 .elementor-element.elementor-element-1e2ead9 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-6c8aefd */.elementor-1858 .elementor-element.elementor-element-6c8aefd {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-8e55601 */.elementor-1858 .elementor-element.elementor-element-8e55601 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-20b3da0 */.elementor-1858 .elementor-element.elementor-element-20b3da0 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-0c72044 */.elementor-1858 .elementor-element.elementor-element-0c72044 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-1e2ead9 */.elementor-1858 .elementor-element.elementor-element-1e2ead9 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-6c8aefd */.elementor-1858 .elementor-element.elementor-element-6c8aefd {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-8e55601 */.elementor-1858 .elementor-element.elementor-element-8e55601 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-20b3da0 */.elementor-1858 .elementor-element.elementor-element-20b3da0 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-0c72044 */.elementor-1858 .elementor-element.elementor-element-0c72044 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-1e2ead9 */.elementor-1858 .elementor-element.elementor-element-1e2ead9 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-6c8aefd */.elementor-1858 .elementor-element.elementor-element-6c8aefd {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-8e55601 */.elementor-1858 .elementor-element.elementor-element-8e55601 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-20b3da0 */.elementor-1858 .elementor-element.elementor-element-20b3da0 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-0c72044 */.elementor-1858 .elementor-element.elementor-element-0c72044 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-1e2ead9 */.elementor-1858 .elementor-element.elementor-element-1e2ead9 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-6c8aefd */.elementor-1858 .elementor-element.elementor-element-6c8aefd {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-8e55601 */.elementor-1858 .elementor-element.elementor-element-8e55601 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-20b3da0 */.elementor-1858 .elementor-element.elementor-element-20b3da0 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-0c72044 */.elementor-1858 .elementor-element.elementor-element-0c72044 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for html, class: .elementor-element-1e2ead9 */.elementor-1858 .elementor-element.elementor-element-1e2ead9 {
    color: #fff;
}/* End custom CSS */


/* Start custom CSS for nested-tabs, class: .elementor-element-9aadb8b */table {
    overflow-x: scroll;
    border-radius: 16px;
    background: #252c2c;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr:nth-child(1),
.elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr:nth-child(2){
    font-size: 24px;
    background: #2f3737;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr td{
    height: 62px!important;
    min-height: 62px!important;
    width: 14%!important;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr td:first-child{
    min-width: 233px!important;
    width: 30%!important;
    font-size: 24px;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b table tbody tr:hover > td, .elementor-1858 .elementor-element.elementor-element-9aadb8b table tbody tr:hover > th {
  background-color: hsla(0,0%,50%,.0)!important;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b table tbody > tr:nth-child(2n+1) > td, .elementor-1858 .elementor-element.elementor-element-9aadb8b  tbody > tr:nth-child(2n+1) > th {
  background-color: hsla(0,0%,50%,.0)!important;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b .e-n-tab-title{
    flex: 1;
}
.elementor-1858 .elementor-element.elementor-element-9aadb8b .e-n-tab-title .e-n-tab-icon svg{
    width: 100%!important;
    max-width: 256px;
}
.tabs-top-name{
    display: none;
}
@media (max-width: 1024px){
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .e-n-tab-title .e-n-tab-icon svg{
        display: none!important;
    }
    .tabs-top-name{
        display: flex;
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        border-bottom: 1px solid #F68E57;
        padding-bottom: 10px;
        margin-bottom: 32px;
        justify-content: space-between;
        align-items: center;
    }
    .tabs-top-name:after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='arrow-top-white' class='icon' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M4 13L10 7L16 13' stroke='white' stroke-width='2' stroke-linecap='square'%3e%3c/path%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right center;
        transition: all 0.3s;
        transform: rotate(180deg);
    }
    .tabs-top-name.active:after{
        transform: rotate(0deg);
    }
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .e-n-tabs-heading{
        flex-direction: column;
        background-color: #252c2c;
        padding: 8px;
        display: flex;
        position: absolute;
        width: 100%;
        z-index: 3;
        border-radius: 8px;
        margin-top: 45px;
        display: none;
    }
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .e-n-tab-title{
        border-bottom: none!important;
        text-align: left;
        align-items: flex-start;
        padding-bottom: 10px;
        font-weight: 500!important;
        margin-bottom: 0!important;
    }
}
@media (max-width: 767px){
    .e-n-tab-title{
        --n-tabs-title-order: 1!important;
    }
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr td{
        min-width: 150px!important;
    }
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr td:first-child{
        min-width: 255px!important;
        font-size: 20px;
    }
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr:nth-child(1),
    .elementor-1858 .elementor-element.elementor-element-9aadb8b .elementor-widget-html tr:nth-child(2){
        font-size: 20px;
    }
}/* End custom CSS */



/* Start custom CSS for container, class: .elementor-element-64b66f4 */.table-box .elementor-element-dea92dc {
    padding: 0;
    overflow: hidden;
    overflow-x: scroll;
}/* End custom CSS */

/* Start Custom Fonts CSS */@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-medium-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-bold-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Tank';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('wp-content/uploads/2025/07/tt-tank-light-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
